@model SupportCall
            <tr>
                <td class="tblRow">@Model.CustName</td>
                <td class="tblRow">@Model.CustEmail</td>
                <td class="tblRow">@Model.CustPhone</td>
                <td class="tblRow">@Model.ProblemMachine</td>
                <td class="tblRow">@Model.ProblemDescription</td>
                <td class="tblRow">@Model.SupportCallDate</td>
            </tr>
